.product-image{
    max-width: 100px;
    max-height: 100px;
}

.product-container{
    min-width: 25%;
    color: black;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    text-decoration: none;
    margin-top: 20px;
    box-shadow: 0.5px 0.5px 5px 0.5px #888888;
}

.product-container-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-title{
    max-width: 300px;
    text-align: center;
}